    <div class="container-fluid">
        <div class="row bg-dark">
            <div class="col-md-6 col-sm-12">
                <div class="m-4">
                    Made by Miguel Merlo - 2018.
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="m-4">
                    <ul class="list-inline">
                        <li class="list-inline-item">s</li>
                        <li class="list-inline-item">s</li>
                        <li class="list-inline-item">s</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>