    <div class="container-fluid" id="footer">
        <div class="row bg-dark">
            <div class="col-lg-6 col-sm-12">
                <div class="m-4 text-center">
                    Made by Miguel Merlo - 2018.
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="m-4">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><a href="" class="fa fa-github"></a></li>
                        <li class="list-inline-item"><a href="" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
        $("#seework-button").click(function() {
            $('html,body').animate({
        scrollTop: $("#first-project").offset().top},
        'slow');
});
    });
        </script>
    </body>
</html>