
<% include ./partials/header.ejs %>
<div class="bg"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-sm-12">
            <div class="row">
                <h2 id="header" class="my-5">If you want to work with me, or just talk me about a project, just fill the form bellow!.
                I would really like to hear from you!</h2>
            </div>
            <form action="/contact" method="POST" role="form">
                <div class="form-group row">
                    <div class="col-lg-6 form-group">
                        <label for="inputName">What's you name?</label>
                        <input type="text" id="inputName" name="name" class="form-control" placeholder="Name">
                    </div>
                    <div class="col-lg-6 form-group">
                        <label for="inputName">What's your Email?</label>
                        <input type="email" id="inputName" name="email" class="form-control" placeholder="E-mail">
                    </div>
                </div>
                <div class="form-group row ">
                    <div class=" col-lg-12 form-group">
                        <label for="messageContent">Write your message here!</label>
                        <textarea class="form-control" name="message" id="messageContent" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group row ">
                    <div class="form-group">
                        <button class="btn btn-danger btn-lg ml-3 mb-5" type="submit">Send!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<% include ./partials/footer.ejs %>
