html, body { 
    overflow-x: hidden; 
    font-family: 'Lato', sans-serif !important;
  font-family: 'Ubuntu', sans-serif !important;
}
.navbar-light .navbar-toggler{
  border:none !important;
}

hr{
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}
.img-logo{
  max-width: 45%;
  height: auto;
}
#landing-header {
  z-index: 1;
  text-align: center;
  height: 250px;
  color:#212529;
}    
.work-section{
    text-align: center;
    height:100%;
}
.about-section{
    height: 100%;
    text-align: center;
    line-height: 1.8;
}

.about-header{
    text-align: center;
    position: relative;
}

/*FOOTER*/
#footer{
    color: white;
}

.fa {
    padding: .50rem;
    font-size: 25px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white
}
.fa:hover{
  transition: 0.3s;
  color:#DC3545;
  text-decoration:none;
}


