.section1{
    background: #C02425;  /* fallback for old browsers */
background: -webkit-linear-gradient(left, #F0CB35, #C02425);
background: -moz-linear-gradient(left, #F0CB35, #C02425);
background: -o-linear-gradient(left, #F0CB35, #C02425);
background: linear-gradient(to right, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */ 
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 20vh;
  height: 500px; 
}    
.work-section{
    text-align: center;
    height:300px;
    /*padding:10px;*/
}

#about-header{
    text-align: center;
    position: relative;
    width: 300px;
}
ul{
    list-style: none;
    display: inline;
}

