html, body { 
    overflow-x: hidden; 
    font-family: 'Lato', sans-serif !important;
font-family: 'Ubuntu', sans-serif !important;
}
.navbar-dark .navbar-toggler{
  border:none !important;
}

.section1{
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://images.unsplash.com/photo-1445620466293-d6316372ab59?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ca4f0bb0565191e29026044ebb49925a&auto=format&fit=crop&w=667&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

hr{
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}


#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 20vh;
  height: 600px;
  color:white;
}    
.work-section{
    text-align: center;
    height:100%;
}
.about-section{
    height: 100%;
    text-align: center;
    line-height: 1.8;
}

.about-header{
    text-align: center;
    position: relative;
    width: 300px;
}

/*FOOTER*/
#footer{
    color: white;
}

.fa {
    padding: .50rem;
    font-size: 25px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white
}
.fa:hover{
  transition: 0.3s;
  color:#DC3545;
  text-decoration:none;
}


